
<div class="w3-row-padding">
  <div class="w3-half">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { class: "w3-container w3-card-4 w3-white" }) do |f| %>
      <h2>Sign up</h2>
      <%= devise_error_messages! %>

      <%= f.fields_for :profile do |profile_form| %>
        <div class="w3-group">
          <%= profile_form.text_field :gamertag, autofocus: true, class: "w3-input"  %>
          <%= profile_form.label :gamertag, class: "w3-label w3-validate"  %>
        </div>

        <div class="w3-group">
          <%= profile_form.text_field :img_url, class: "w3-input"  %>
          <%= profile_form.label :img_url, class: "w3-label w3-validate"  %>
        </div>

        <div class="w3-group">
          <%= profile_form.text_field :desc, class: "w3-input"  %>
          <%= profile_form.label :desc, class: "w3-label w3-validate"  %>
        </div>

      <% end %>

      <div class="w3-group">
        <%= f.email_field :email, class: "w3-input" %>
        <%= f.label :email, class: "w3-label w3-validate" %>
      </div>

      <div class="w3-group">
        <%= f.password_field :password, autocomplete: "off", class: "w3-input"  %>
        <%= f.label :password, class: "w3-label w3-validate" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>

      <div class="w3-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "w3-input"  %>
        <%= f.label :password_confirmation, class: "w3-label w3-validate" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "w3-btn w3-right" %><br />
      </div>
    <% end %>
  </div>
</div><br>
