
<nav class="w3-sidenav w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidenav">
  <br>
  <!-- Not signed in -->
  <div class="w3-container">
    <% if !user_signed_in? %>
      <%= link_to new_user_registration_path do %>
        <i class="fa fi-pencil fa-fw w3-margin-right"></i>SIGN UP
      <% end %>
      <%= link_to new_user_session_path do %>
        <i class="fa fi-power fa-fw w3-margin-right"></i>LOGIN
      <% end %><br>
      <h4>Ever login into your Ps4 and have no one to play with? Well you've come to the right
        place. GamrBuddy is the ultimate place to find other gamers who have the same games as you.
        Sign up and create your game library now.</h4>
    <% end %>
  </div>
  <!-- Signed in -->
  <% if user_signed_in? %>
    <div class="w3-container">

      <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding" title="close menu">
        <i class="fa fa-remove"></i>
      </a>
      <img src="/assets/img-placeholder.png" style="width:50%; height: 100px;" class="w3-round"><br><br>
      <h4 class="w3-padding-0"><b><%= current_user%></b></h4>
      <p class="w3-text-grey">Desc of User</p>
    </div>

    <%= link_to ownerships_user_path(current_user), class: "w3-padding", onclick: "w3_close()" do %>
      <i class="fa fa-th-large fa-fw w3-margin-right"></i>LIBRARY
    <% end %>
    <%= link_to edit_user_registration_path, class: "w3-padding", onclick: "w3_close()" do %>
      <i class="fa fa-user fa-fw w3-margin-right"></i>EDIT PROFILE
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: "w3-padding" do %>
      <i class="fa fi-power fa-fw w3-margin-right"></i>LOGOUT
    <% end %>
  <% end %>
</nav>

<!-- Overlay effect when opening sidenav on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
